<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="today.tailor.tt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SplashScreen">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        <activity
            android:name=".Home"
            android:label="Select Product"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".MainTab"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayProduct"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProduct"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Selection"
            android:label=""
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Upload" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>